<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Beranda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm>
      <ion-card href="/movies">
        <img src="/beranda/img/popcorn.png"/>
        <ion-card-header>
          <ion-card-title>
            <div><ion-button expand="block" size="large" shape="round" fill="solid" color="tertiary">Daftar Filem</ion-button></div>
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-sm>
      <div><ion-button expand="block" size="large" shape="round" fill="solid" color="warning">Daftar Makanan</ion-button></div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
